<div class="container">
  <h3 class="m-5">The author</h3>
  <p class="m-5 mt-0">
    Rowling is known primarily as an author of fantasy and children's
    literature. Her writing in other genres, including literary fiction and
    murder mystery, has received less critical attention. Rowling's most
    famous work, Harry Potter, has been defined as a fairy tale, a Bildungsroman
    and a boarding-school story. Her other writings have been
    described by Pugh as gritty contemporary fiction with historical influences
    (The Casual Vacancy) and hardboiled detective fiction (Cormoran Strike).
  </p>

</div>