<h1 class="m-4">Welcome to J. K. Rowling page!</h1>
<hr />
{{!Espacio en blanco }}
<div class="container column">
  <img src="/images/J._K._Rowling_2010.jpg" alt="" />
  <p class="ps-4">Joanne Rowling CH OBE FRSL (born 31 July 1965), also known by her pen name
    J. K. Rowling, is a British author, philanthropist, producer, and
    screenwriter.</p>
</div>