<div class="container">
  <h3 class="m-5">Publications</h3>
  <p class="m-5 mt-0">
    J. K. Rowling wrote Harry Potter, a seven-volume children's fantasy
    series published from 1997 to 2007. The series has sold over 500 million
    copies, been translated into at least 70 languages, and spawned a global
    media franchise including films and video games. The Casual Vacancy (2012)
    was her first novel for adults. She writes Cormoran Strike, an ongoing crime
    fiction series, under the alias Robert Galbraith.
  </p>
</div>